html {
    font-size: 16px;
}

@font-face {
    font-family: "myfont";
    src: url("myfont/AyanaSigils.ttf") format("truetype");
    font-display: swap;
}


body {
    background-color: black;
}

/*home*/

.home .logo{
    width: 20rem;
    display: block;
    margin: auto;
}


.home h1, .home p{
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1;
    display: flex;
    justify-content: center;
    color: rgb(187, 187, 187);
}

.home h1{
    margin: 0.1rem 3rem;
    font-size: 2rem;
}

.home p{
    margin: 1.25rem 3rem;
    font-size: 1rem;
}

.home .nav-buttons{
    display: flex;
    margin: 3rem;
    justify-content: center; 
    gap: 1rem;               
}

.home .button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    padding: 0.7rem 1rem;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 1000;
    background: #444;
    color: black;
    text-decoration: none;
    border-radius: 50px; 
}

/*subpages*/



.subpage header {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    height: 6rem;        
    padding-right: 1rem; 
    padding-left: 1rem;  
    padding-top: 1rem;
    position: relative;
}

.sub-heading h1 {
    font-family: "myfont";
}


.subpage .logo{
    width: 10rem;
    margin-left: 1rem;
}


.subpage .nav-buttons{
    display: flex;
    gap: 1rem;
}

.subpage .button{
    display: inline-flex;
    justify-content: center;
    width: 10rem;
    align-items: center;
    padding: 0.6rem 1rem;
    font-size: 1.5rem;
    font-weight: 1000;
    background: #444;
    color: black;
    border-radius: 50px;
    text-decoration: none;

}

.button:hover {
    background-color: #666;}

.content-section {
    max-width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

article {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;     
    gap: 1rem;
    align-items: center;
    text-align: left;   
}


article img {
    width: auto;                
    max-width:300px;
    height: auto;   
    max-height: 300px;
            
    border-radius: 10px;
}


article section{
    color: rgb(200,200,200);
    font-family: "Times New Roman", serif;
}


.mobile-only{
    display: block;
    text-align: center;
    color: rgb(187,187,187);
    margin-top: 2rem;
}
.desktop-only{
    display: none;
}

/* <800px */

@media (max-width: 800px) {
  html {
    font-size: 14px;
  }

  .home .logo{
      width: 17rem;
      display: block;
      margin: auto;
  }

  .home h1{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 1;
      display: flex;
      justify-content: center;
      color: rgb(187, 187, 187);
      font-size: 2rem;
  }

  .home p{
      font-family: 'Times New Roman', Times, serif;
      font-weight: 1;
      margin: 1.5rem 5rem;
      display: flex;
      justify-content: center;
      text-align: center;
      color: rgb(187, 187, 187);
      font-size: 1rem;
  }

  .home .nav-buttons {
      flex-direction: column;     
      align-items: center;         
      margin: 5rem;     
  }

  .home .button{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 15rem;
      padding: 1rem;
      margin: 0.3rem;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 1000;
      background: #444;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 50px; 
  }


  .subpage .button{
      display: inline-flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 2.2px;
      margin: -0.1rem;
      text-align: center;
      font-size: 1rem;
      font-weight: 1000;
      background: #444;
      color: rgb(0, 0, 0);
      text-decoration: none;
      border-radius: 40px; 
      overflow: hidden;
  }

  .subpage .nav-buttons {
      display: flex;
      flex-direction: row;
      padding: 1rem;
      justify-content: center;
      overflow: hidden;
  }

.subpage .logo{
    max-width: 8rem;
}
.subpage .sub-heading h1{
font-family: "myfont";
    }

}

/*landscape phone mode*/

@media (orientation: landscape) and (max-height: 600px) {
    .mobile-only { display: none; }
    .desktop-only { display: block; }

    .home .logo {
        width: 15rem;
        margin-top: 1rem;
    }

    .home h1,
    .home p {
        font-size: 1.5rem;
        margin: 1rem 2rem;
    }

    .home .nav-buttons {
        justify-content: center;
        flex-direction: row;
        gap: 1.5rem;
        margin-top: 2rem;
    }

    .home .button {
        width: 10rem;
        font-size: 1.2rem;
        padding: 0.7rem 1rem;
    }


     .subpage header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 3rem;
      height: 6rem;   
      box-sizing: border-box;
      padding-top: 5rem;
  }

 .subpage .button {
        font-size: 1.3rem;
        max-width: 4rem;
        height: auto;
        padding: 0.5rem 1rem;
        white-space: nowrap;
    }

  .subpage .sub-heading.desktop-only {
      flex: 1;           
      max-width: 50%;    
      margin-right: 3rem;   
      color: rgb(187,187,187);
      text-align: left;
      margin-top: 50px;
  }


  .subpage .sub-heading h1{
    font-family: "myfont";
    }

  .subpage .nav-buttons {
      display: flex;
      gap: 1rem;
      margin-right: 0rem;  
  }

  .subpage .logo {
      width: 12rem;
      margin-right: -2rem;
  }
  
 .content-section {
    align-items: center;
    max-width: 1200px;
    margin-top: 5em;
    }

    .content-section article {
        width:80%;
        flex-direction: row;      
        text-align: left;
        align-items: center;
    }

   .content-section article img {
        width: auto;
        max-width: 30%;              
        height: auto;
        margin-right: 2rem;      
    }

}

/*>1200px*/

@media (min-width: 1200px) {

  .mobile-only { display: none; }
  .desktop-only { display: block; }

  .subpage header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2rem 3rem;
      height: 6rem;   
      box-sizing: border-box;
      padding-top: 5rem;
  }

  .subpage .sub-heading.desktop-only {
      flex: 1;              
      white-space: nowrap;  
      margin-right: 3rem;   
      color: rgb(187,187,187);
      text-align: center;
  }


  .subpage .sub-heading h1{
font-family: "myfont";
    }

  .subpage .nav-buttons {
      display: flex;
      gap: 1rem;
      margin-right: 2rem;  
  }

  .subpage .logo {
      width: 13rem;
  }
  
 .content-section {
    align-items: center;
    max-width: 1200px;
    }

    .content-section article {
        width:80%;
        flex-direction: row;      
        text-align: left;
        align-items: center;
    }

   .content-section article img {
        width: auto;
        max-width: 30%;              
        height: auto;
        margin-right: 2rem;      
    }
}



